.todo-list-item {
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

.todo-list-item span[role="img"] {
  margin-right: 5px;
}

.todo-list-item-status {
  border: none;
  background-color: none;
  outline: none;
}
